<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Acceuil.css') }}">
    <title>Page d'accueil</title>
</head>
<body>
    <div class="container_1">
        <p>Bienvenue sur notre site</p>
        <div class="container">
            <h1>Bienvenue,Vous etes?</h1>
            <form>
                <label><a href="/ConnexionEleve">Etudiant</a></label>
                <label><a href="/ConnexionProf">Enseignant</a></label>
            </form>
        </div>
    </div>
</body>
</html>
